<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="title" content="{{ .Meta.Title }}">
  <meta property="description" content="{{ .Meta.Description }}">
  <meta property="og:title" content="{{ .Meta.Title }}">
  <meta property="og:description" content="{{ .Meta.Description }}">
  <meta property="og:site_name" content="TACIX.AT">
  <meta name="twitter:site" content="@cyberingcc">
  <title>TACIX.AT - {{ .Meta.Title }}</title>
  <style>
    html {
      height: 100%;
    }
    
    header {
      width: 960px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
    }

    body {
      display: flex;
      flex-direction: column;      
      width: 100%;
      font-family: monospace;
      color: #EEE;
      background-color: #333;
      margin: 0;
      height: 100%;
      font-size: 24px;
    }

    footer {
      width: 960px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
    }

    a {
      color: #EEE;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:visited {
      color: #DDD;
    }

    #title {
      flex-grow: 1;
      font-size: 32px;
      font-weight: 300;
      padding: 10px 0px;
    }

    #about {
      font-size: 24px;
      margin-top: 14px;
    }

    #main {
      flex-grow: 1;
      width: 960px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 30px 0px;
    }

    @media only screen and (max-width: 959px) {
      html {
        padding: 5px;
      }

      header {
        width: 100%;
      }

      #main {
        width: 100%;
      }

      footer {
        width: 100%;
      }
    }

    {{ template "css" . }}
  </style>
</head>
<body>
  <header>
    <span id=title><a href=/>TACIX.AT</a></span>
    <span id=about><a href=/about>About</a></span>
  </header>

  <div id=main>
  {{ template "main" . }}
  </div>

  <footer>
  </footer>
</body>
</html>