{{ define "css" }}
    
{{ end }}

{{ define "main" }}
  {{ range $p := .Posts }}
    <div>{{ $p.Datef }}</div>
    <div><a class=post href="/posts/{{ $p.Title }}.html">{{ $p.Title }}</a></div>
  {{ end }}
{{ end }}